<h1>Criar Nova Transação</h1>

<%= form_with model: @transaction do |form| %>
  <%# Mostra os erros de validação, se houver %>
  <% if form.object.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(form.object.errors.count, "erro") %> impediu esta transação de ser salva:</h2>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sender, "De (Sua Carteira):" %><br>
    <%= form.text_field :sender %>
  </div>

  <div>
    <%= form.label :recipient, "Para (Carteira do Destinatário):" %><br>
    <%= form.text_field :recipient %>
  </div>

  <div>
    <%= form.label :amount, "Quantia:" %><br>
    <%= form.number_field :amount, step: 0.01 %>
  </div>

  <div>
    <%= form.submit "Enviar Transação para o Mempool" %>
  </div>
<% end %>

<br>
<%= link_to 'Voltar para a Blockchain', root_path %>